// Colors
$clr-purple: hsl(259, 100%, 65%);
$clr-red-light: hsl(0, 100%, 67%);

$clr-white: hsl(0, 0%, 100%);
$clr-white-off: hsl(0, 0%, 94%);
$clr-grey-light: hsl(0, 0%, 86%);
$clr-grey-smokey: hsl(0, 1%, 44%);
$clr-black-off: hsl(0, 0%, 8%);

// Typography
$fs-result: 32px;
$ff-main: 'Poppins', sans-serif;
